<div
  class="max-w-[90%] md:max-w-[80%] mx-auto flex flex-col lg:flex-row justify-around items-center gap-14 lg:gap-5 bg-neutral-100 rounded px-2 pt-14 pb-8 lg:py-4"
>
  <div class="flex flex-col gap-4 justify-center items-center">
    <h4 class="font-bold text-dark-grey">Máscara</h4>
    <div class="flex gap-2 justify-center items-center">
      <div class="flex flex-col justify-center items-center gap-1">
        <img
          class="h-14 xl:h-16"
          src="../../assets/images/png/required-mask.png"
        />
        <span class="text-dark-grey text-sm">Obrigatório</span>
      </div>
      <div class="flex flex-col justify-center items-center gap-1">
        <img
          class="h-14 xl:h-16"
          src="../../assets/images/png/recommended-mask.png"
        />
        <span class="text-dark-grey text-sm">Recomendado</span>
      </div>
    </div>
  </div>

  <div class="flex flex-col gap-4 justify-center items-center">
    <h4 class="font-bold text-dark-grey">Toalha</h4>
    <div class="flex gap-2 justify-center items-center">
      <div class="flex flex-col justify-center items-center gap-1">
        <img
          class="h-14 xl:h-16"
          src="../../assets/images/png/required-towel.png"
        />
        <span class="text-dark-grey text-sm">Obrigatório</span>
      </div>
      <div class="flex flex-col justify-center items-center gap-1">
        <img
          class="h-14 xl:h-16"
          src="../../assets/images/png/recommended-towel.png"
        />
        <span class="text-dark-grey text-sm">Recomendado</span>
      </div>
    </div>
  </div>

  <div class="flex flex-col gap-4 justify-center items-center">
    <h4 class="font-bold text-dark-grey">Bebedouro</h4>
    <div class="flex gap-2 justify-center items-center">
      <div class="flex flex-col justify-center items-center gap-1">
        <img
          class="h-14 xl:h-16"
          src="../../assets/images/png/recommended-towel.png"
        />
        <span class="text-dark-grey text-sm">Parcial</span>
      </div>
      <div class="flex flex-col justify-center items-center gap-1">
        <img
          class="h-14 xl:h-16"
          src="../../assets/images/png/forbidden-fountain.png"
        />
        <span class="text-dark-grey text-sm">Proibido</span>
      </div>
    </div>
  </div>

  <div class="flex flex-col gap-4 justify-center items-center">
    <h4 class="font-bold text-dark-grey">Vestiários</h4>
    <div class="flex gap-2 justify-center items-center">
      <div class="flex flex-col justify-center items-center gap-1">
        <img
          class="h-14 xl:h-16"
          src="../../assets/images/png/required-lockerroom.png"
        />
        <span class="text-dark-grey text-sm">Liberado</span>
      </div>
      <div class="flex flex-col justify-center items-center gap-1">
        <img
          class="h-14 xl:h-16"
          src="../../assets/images/png/partial-lockerroom.png"
        />
        <span class="text-dark-grey text-sm">Parcial</span>
      </div>
      <div class="flex flex-col justify-center items-center gap-1">
        <img
          class="h-14 xl:h-16"
          src="../../assets/images/png/forbidden-lockerroom.png"
        />
        <span class="text-dark-grey text-sm">Fechado</span>
      </div>
    </div>
  </div>
</div>
